:root{
    --dark-blue: #2c2c54;
    --fluo-red: #ff5252;
    --light-blue: #34ace0;
    --more-red: #b33939;
    --orange: #ff793f;
    --swan-white: #f7f1e3;
    --gray: #d1ccc0;
}

*{
    padding: 0;
    margin: 0;
}


/* search */
.search{
    margin: auto;
    display: flex;
    max-width: 800px;
    flex-direction: column;
    justify-content: center;
}

.search form {
    width: 600px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.search input{
    width: 600px;
    height: 20px;
    background-color: var(--swan-white);
    color: var(--dark-blue);
    font-weight: bold;
    font-size: 24px;
    padding: 20px 30px;
    border-radius: 50px;
    outline: none;
    border: none;
    margin-bottom: 10px;
}

.search .banner{
    width: 600px;
    height: 150px;
    padding: 20px;
    margin: 20px 40px;
    align-self: center;
    color: var(--more-red);
    box-sizing: border-box;
}

.search .banner h2{
    font-size: 48px;
    text-align: center;
    margin-bottom: 3px;
    font-variant: small-caps;
}

.search .banner p{
    font-size: 25px;
    text-align: center;
    margin-bottom: 3px;
    font-style: italic;
    font-weight: bold;
    color: var(--fluo-red);
}

.search .banner h3{
    color: var(--dark-blue);
    font-size: 25px;
    text-align: center;
    margin: 10px;
    padding: 10px;
    border-top: 2px dotted var(--fluo-red);
}

/* --- */


.anchor{
    padding: 5px;
    font-weight: bold;
    font-size: 36px;
    border-radius: 10px;
    width: 50px;
    text-align: center;
    margin: auto;
    text-align: center;
    border-bottom: 2px double var(--fluo-red); 
  
}

.anchor a{
    text-align: center;
    color: var(--fluo-red);
    padding: 5px 10px;
}

.anchor:hover{
    font-weight: bold;
    border-bottom: 4px solid var(--fluo-red); 
    transition: ease-in .3s;
}

/* country list & country */
.country-list{
    width: 80%;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}


.country{
    width: 300px;
    height: 420px;
    padding: 0 4px;
    margin: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--swan-white);
    gap: 1;
    /* flex: 1; */
    box-shadow: 3px 5px 3px var(--swan-white);
    border-radius: 5%;
    box-sizing: border-box;
    cursor: pointer;
}

.country:hover{
    box-shadow: 5px 5px 5px var(--gray);
    transition: ease-in-out .5s;
}


.country .flag{
    width: 250px;
    height: 150px;
    padding: 5px;
    margin: 20px;
    order: -1; /* this item will always be on top */
    /* outline: 1px solid purple; */

    border-radius: 1%;

}

.country .flag img{
    width: 240px;
    height: 140px;
    box-shadow: 0px 0px 20px  var(--swan-white);
      
}

.country img:hover{
    box-shadow: 2px 3px 2px var(--swan-white);
}


.country .info span{
    font-weight: bold;
    color: var(--dark-blue);
    font-size: 18px;
}

.country .country-name{
    text-align: center;
    font-size: 28px;
    color: var(--more-red);
    font-weight: bold;
    border-bottom: 1px solid var(--fluo-red);
    margin-bottom:  10px;
}

/* --- */

.country-stats{
    width: 800px;
    margin: 10px auto;
    padding: 20px;

}

.country-stats .btns{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.country-stats .btns button {
    padding: 15px;
    background-color: var(--fluo-red);
    color: var(--swan-white);
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
    margin: 10px;
    border: none;
}


.country-stats .top-10{
    display: flex;
    justify-content: space-around;
}
.country-stats .top-10 h1{
    text-align: center;
}

.country-stats .top-10-lang, .top-10-pop{
    margin: 10px;
    background-color: var(--swan-white);
    color: var(--dark-blue); 
    border-radius: 10px;
    padding: 20px;
    width: 600px;
}

.country-stat-row{
    padding: 7px;
    margin: 3px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.country-stat-row h3{
    font-weight: bold;
    font-size: 28px;
    color: var(--fluo-red);
}

.country-stat-row{
    color: var(--orange);
    font-weight: bold;
    font-size: 18px;
}

.progress-bar progress{
    height: 40px;
    width: 300px;
}

header{
    background-color: var(--dark-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;  
}

header a{
    font-size: 20px;
    color: var(--swan-white);
}

footer{
    background-color: var(--dark-blue);
    color: var(--swan-white);
    font-weight: bold;
    font-size: 16px;
    display: flex;
    padding: 10px;
    justify-content: space-evenly;
}
 footer nav{
    padding: 10px;
    border-right: 5px solid var(--orange);
 }

footer ul li{
    list-style-type: none;
    text-transform: uppercase;
    margin: 10px;
    
}

footer ul li a{
    color: var(--swan-white);
    text-decoration: none;
}


/* ------- */

@media(max-width: 600px){
    .search{
        width: 400px;
        margin: auto;   
    }

  
    
    .search form {
        width: 200px;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }
    .search input{
        width: 300px;
        height: 10px;
        background-color: var(--swan-white);
        color: var(--dark-blue);
        font-weight: bold;
        font-size: 14px;
        padding: 20px 30px;
        border-radius: 50px;
        outline: none;
        border: none;
        margin-bottom: 10px;
    }
    .search .banner{
        width: 200px;
        height: 150px;
        padding: 20px;
        margin: 20px 40px;
        align-self: center;
        color: var(--more-red);
        box-sizing: border-box;
    }
    
    .search .banner h2{
        font-size: 20px;
        text-align: center;
        margin-bottom: 3px;
        font-variant: small-caps;
    }

    .search .banner p{
        font-size: 14px;
        text-align: center;
        margin-bottom: 3px;
        font-style: italic;
        font-weight: bold;
        color: var(--fluo-red);
    }

    .search .banner h3{
        font-size: 14px;
        text-align: center;
        margin: 10px;
        padding: 10px;

    }

    .country-stats{
        width: 200px;
        margin: 10px auto;
        padding: 20px;
    
    }
    
    .country-stat-row{
        width: 200px;

    }
    .country-stat-row h3{
        font-weight: bold;
        font-size: 16px;
        color: var(--fluo-red);
    }
    
    .country-stat-row{
        color: var(--orange);
        font-weight: bold;
        font-size: 14px;
    }
    
    .progress-bar progress{
        height: 40px;
        width: 80px;
    }

    .country{
        width: 250px;
        margin: auto;
    }

    
    .country .info span{
        font-weight: bold;
        color: var(--dark-blue);
        font-size: 12px;
    }
    
    .country .country-name{
        text-align: center;
        font-size: 16px;
        color: var(--more-red);
        font-weight: bold;
        border-bottom: 1px solid var(--fluo-red);
        margin-bottom:  10px;
    }
    
    .country{
        font-size: 14px;
        height: 300px;
        margin: 10px auto;
        padding: 10px;
    }

    .country .flag{
        padding: 5px;
        margin: 0 auto;
        box-sizing: border-box;
        order: -1; /* this item will always be on top */
        /* outline: 1px solid purple; */
        
    }
    
    .country .flag img{
        width: 210px;
        height: 110px;
        box-shadow: 0px 0px 20px  var(--swan-white);
          
    }

    .country-stats .btns button {
        padding: 10px;
        background-color: var(--fluo-red);
        color: var(--swan-white);
        font-weight: bold;
        font-size: 14px;
        border-radius: 10px;
        margin: 10px;
        border: none;
    }
    
}