:root{
    --dark-blue: #2c2c54;
    --fluo-red: #ff5252;
    --light-blue: #34ace0;
    --more-red: #b33939;
    --orange: #ff793f;
    --swan-white: #f7f1e3;
    --gray: #d1ccc0;
}

*{
    padding: 0;
    margin: 0;
}


/* search */
.search{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.search form {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.search input{
    width: 800px;
    height: 30px;
    background-color: var(--swan-white);
    color: var(--dark-blue);
    font-weight: bold;
    font-size: 24px;
    padding: 20px 30px;
    border-radius: 50px;
    outline: none;
    border: none;
}

.search .banner{
    width: 800px;
    height: 200px;
    padding: 20px;
    margin: 20px 50px;
    align-self: center;
    background: #f7f1e35e;
    color: var(--more-red);
    box-sizing: border-box;
}

.search .banner h2{
    font-size: 52px;
    text-align: center;
    margin-bottom: 3px;
    font-variant: small-caps;
}

.search .banner p{
    font-size: 25px;
    text-align: center;
    margin-bottom: 3px;
    font-style: italic;
    font-weight: bold;
    color: var(--fluo-red);
}

.search .banner h3{
    color: var(--dark-blue);
    font-size: 25px;
    text-align: center;
    margin: 10px;
    padding: 10px;
    border-top: 2px dotted var(--fluo-red);
}

/* country list & country */
.country-list{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.country{
    width: 300px;
    height: 420px;
    padding: 0 4px;
    margin: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1;
    /* flex: 1; */
    box-shadow: 3px 5px 3px var(--swan-white);
    border-radius: 5%;
    box-sizing: border-box;
    cursor: pointer;
}

.country:hover{
    box-shadow: 5px 5px 5px var(--gray);
    transition: ease-in-out .5s;
}


.country .flag{
    width: 250px;
    height: 150px;
    padding: 5px;
    margin: 20px;
    order: -1; /* this item will always be on top */
    /* outline: 1px solid purple; */

    border-radius: 1%;

}

.country img:hover{
    box-shadow: 2px 3px 2px var(--swan-white);
}


.country .flag img{
    width: 240px;
    height: 140px;
      
}

.country .info span{
    font-weight: bold;
    color: var(--dark-blue);
    font-size: 18px;
}

.country .country-name{
    text-align: center;
    font-size: 28px;
    color: var(--more-red);
    font-weight: bold;
    border-bottom: 1px solid var(--fluo-red);
    margin-bottom:  10px;
}

